

 <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            <li class="active">
                <a href="{{ path('Accueil') }}"><i class="icon-phone pull-right"></i> Telephones</a>
            </li>
            <li>
                <a href="{{ path('Accueil') }}"><i class="icon-tablet pull-right"></i> Tablettes</a>
            </li>
            <li>
                <a href="{{ path('Accueil') }}"><i class="icon-desktop pull-right"></i>Laptops</a>
            </li>
        </ul>
    </div>
