<div class="well">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-shopping-cart"></i>
            3 items - 250 550fcfa
            <b class="caret"></b></a>
        </a>
        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            <p>Item x 1 <span class="pull-right">150 000fcfa</span></p>
            <p>Item x 1 <span class="pull-right">100 000fcfa</span></p>
            <p>Item x 1 <span class="pull-right">50 000fcfa</span></p>
            <a href="{{ path('panier') }}" class="btn btn-primary">Mon Panier</a>
        </div>
    </div>
</div>