<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_security_login') }}">Se connecter <i class="icon-signin pull-right"></i></a>
        </li>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">S'inscrire <i class="icon-user pull-right"></i> </a>
        </li>
    </ul>
</div>
