body {
	padding-bottom: 40px;
    padding-top: 60px;
}

.top-header .social-icons ul li .pub{
    width: 250px;
    height: 42px;
    line-height: 42px;
   font-size: 16px;
    text-align: center;
    display: block;
}